In [1]:
import pandas as pd

In [34]:
df = pd.read_excel('./data/2018_폭염지수.xlsx', header=5).iloc[[1], 1:]

# df['월'] = df['월'].astype(object)
df = df.T
df

        1
1월      0
2월      0
3월      0
4월      0
5월      0
6월    0.5
7월   11.3
8월     16
9월      0
10월     0
11월     0
12월     0
연합계  27.8
순위      1