In [11]:
import pandas as pd

In [35]:
#기온 데이터
df1=pd.read_excel('./data/기온_전체_2010-2019.xlsx')
#순서 역순으로 바꾸기
df1=df1.loc[::-1].reset_index(drop=True)
#평균기온, 평균최고, 평균최저만 남기고 drop
df1.drop(['지역번호','지역명','최고기온관측지점','최저기온관측지점','최고기온(℃)','최저기온(℃)'],axis=1,inplace=True)
#2019년 9월까지 자르기
temp=df1.iloc[96:108]
temp.set_index(['일시'],inplace=True)
temp

            평균기온(℃)  평균최고기온(℃)  평균최저기온(℃)
일시
2018-01-01     -2.0        3.0       -6.4
2018-02-01     -0.2        5.6       -5.7
2018-03-01      8.1       14.3        2.5
2018-04-01     13.3       19.6        7.3
2018-05-01     17.8       23.4       12.7
2018-06-01     22.2       27.8       17.6
2018-07-01     26.8       31.6       22.9
2018-08-01     27.3       32.2       23.3
2018-09-01     20.4       25.3       16.3
2018-10-01     13.0       19.1        7.9
2018-11-01      8.1       14.4        3.0
2018-12-01      1.1        6.3       -3.4

In [36]:
#강수일수
df2=pd.read_excel('./data/2018_강수일수.xlsx')

df2T=df2.transpose()
rain_days=df2T[8].iloc[1:13]
rain_days.astype('float')
rain_days

Unnamed: 1      7.3
Unnamed: 2        5
Unnamed: 3      9.3
Unnamed: 4       10
Unnamed: 5     11.3
Unnamed: 6      9.8
Unnamed: 7      8.3
Unnamed: 8     11.5
Unnamed: 9      9.8
Unnamed: 10       8
Unnamed: 11     5.5
Unnamed: 12     4.5
Name: 8, dtype: object

In [38]:
#강수량
rainfall=pd.read_excel('./data/2018_강수량.xlsx',skiprows=[1,2,3,4,5,6,7])
rainfall=rainfall['Unnamed: 2']
rainfall

0       8.5
1      29.6
2      49.5
3     130.3
4     222.0
5     171.5
6     185.6
7     202.6
8      68.5
9     120.5
10     79.1
11     16.4
Name: Unnamed: 2, dtype: float64

In [39]:
#황사일수
dust=pd.read_excel('./data/2018_황사일수.xlsx')
dustT=dust.transpose()
dust=dustT[8].iloc[1:13]
dust

Unnamed: 1     0
Unnamed: 2     0
Unnamed: 3     0
Unnamed: 4     2
Unnamed: 5     1
Unnamed: 6     0
Unnamed: 7     0
Unnamed: 8     0
Unnamed: 9     0
Unnamed: 10    0
Unnamed: 11    2
Unnamed: 12    0
Name: 8, dtype: object

In [42]:
#체감온도
feelingtemp = pd.read_excel('./data/2018_체감온도.xlsx', header=3)
def month(day):
    return day[0:4] + '.' + day[5:7]

feelingtemp['월별'] = feelingtemp['일자'].astype(str).apply(month)
feelingtemp = feelingtemp.drop(['일자'], axis=1).groupby('월별').mean().drop(["기온(°C)",'풍속(m/s)'], axis=1)
feelingtemp

          체감기온(°C)
월별
2018.01  -6.054839
2018.02  -3.800000
2018.03   7.335484
2018.04  12.596667
2018.05  18.090323
2018.06  23.143333
2018.07  27.764516
2018.08  28.738710
2018.09  21.503333
2018.10  12.916129
2018.11   7.436667
2018.12  -2.167742