In [2]:
import pandas as pd

In [4]:
#기온 데이터
df1=pd.read_excel('./data/기온_전체_2010-2019.xlsx')
#순서 역순으로 바꾸기
df1=df1.loc[::-1].reset_index(drop=True)
#평균기온, 평균최고, 평균최저만 남기고 drop
df1.drop(['지역번호','지역명','최고기온관측지점','최저기온관측지점','최고기온(℃)','최저기온(℃)'],axis=1,inplace=True)
#2019년 9월까지 자르기
기온3종세트=df1.iloc[96:108]
기온3종세트.set_index(['일시'],inplace=True)

#강수일수
df2=pd.read_excel('./data/2018_강수일수.xlsx')

df2T=df2.transpose()
강수일수=df2T[8].iloc[1:13]

#강수량
df3=pd.read_excel('./data/2018_강수량.xlsx',skiprows=[1,2,3,4,5,6,7])
강수량=df3['Unnamed: 2']

#황사일수
df4=pd.read_excel('./data/2018_황사일수.xlsx')
df4T=df4.transpose()
황사일수=df4T[8].iloc[1:13]


df = pd.read_excel('./data/2018_체감온도.xlsx', header=3)

for i in range(len(df['일자'])):
    df.loc[i, '월별'] = str(df.loc[i, '일자'])[0:4]+ '.' + str(df.loc[i, '일자'])[5:7] 

체감기온 = df.groupby('월별').mean()

df7 = pd.read_csv('C:/project1/data/2018소비자물가지수.csv', encoding='cp949', header=0).iloc[:, 2:]
소비자물가지수 = pd.DataFrame(df7.T[0])

df9 = pd.read_excel('./data/2018_폭염지수.xlsx', header=5).iloc[[1], 1:]
df9 = df.T

In [12]:
df2 = pd.read_csv('C:/project1/data/문화재청_궁능원_관람객_수_현황(2018년).csv', encoding='cp949')
df2

,일자,경복궁(유료),경복궁(무료),경복궁(내국인),경복궁(영어권),경복궁(일본어권),경복궁(중국어권),경복궁(기타외국인),덕수궁(유료),덕수궁(무료),...,창경궁(일본어권),창경궁(중국어권),창경궁(기타외국인),창덕궁(유료),창덕궁(무료),창덕궁(내국인),창덕궁(영어권),창덕궁(일본어권),창덕궁(중국어권),창덕궁(기타외국인)
0,2018-01-01,10239,4869,12567,659,249,460,1173,1727,1150,...,9.0,2.0,20.0,2615.0,1088.0,2871.0,547.0,82.0,45.0,158.0
1,2018-01-02,0,0,0,0,0,0,0,1476,1627,...,25.0,17.0,33.0,2531.0,988.0,1621.0,1122.0,233.0,122.0,421.0
2,2018-01-03,4625,2076,5149,313,52,551,636,1885,1375,...,24.0,4.0,17.0,1273.0,535.0,897.0,564.0,118.0,42.0,187.0
3,2018-01-04,3375,1709,3711,485,126,107,655,1025,1468,...,18.0,9.0,12.0,1211.0,706.0,1044.0,565.0,114.0,33.0,161.0
4,2018-01-05,3758,1789,4253,333,121,205,635,1031,1724,...,9.0,4.0,7.0,1371.0,632.0,1198.0,551.0,97.0,15.0,142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,5213,2271,4144,854,209,736,1541,1064,28225,...,18.0,7.0,12.0,1210.0,318.0,594.0,388.0,62.0,26.0,458.0
361,2018-12-28,6086,2573,6642,13,66,382,1556,837,1432,...,13.0,8.0,43.0,1592.0,434.0,759.0,641.0,72.0,43.0,511.0
362,2018-12-29,9639,3291,8580,596,227,889,2638,1666,3203,...,17.0,32.0,5.0,2080.0,645.0,1219.0,655.0,98.0,47.0,706.0
363,2018-12-30,10497,3265,10096,764,174,801,1927,2090,3413,...,15.0,15.0,6.0,2923.0,845.0,1732.0,1560.0,125.0,63.0,288.0
364,2018-12-31,10482,3350,8236,1747,417,1091,2341,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0