In [1]:
import pandas as pd

In [43]:
# 경복궁_관람객수
palace_visitors = pd.read_excel('./data/문화재청_궁능원_관람객_수_현황(2018년).xlsx', header=0).iloc[:,[0,3]]


def month(day):
    return day[0:4] + '.' + day[5:7]

palace_visitors['월별'] = palace_visitors['일자'].astype(str).apply(month)
palace_visitors = pd.DataFrame(palace_visitors.drop(['일자'], axis=1).groupby('월별').sum())
palace_visitors

         경복궁(내국인)
월별
2018.01    124211
2018.02    197756
2018.03    220494
2018.04    341280
2018.05    407217
2018.06    279530
2018.07    200582
2018.08    198930
2018.09    528333
2018.10    434708
2018.11    290439
2018.12    201767