In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./data/2018_체감온도.xlsx', header=3)
df1 = df

In [3]:
def month(day):
    return day[0:4] + '.' + day[5:7]

In [4]:
df['월별'] = df['일자'].astype(str).apply(month)
df = df.drop(['일자'], axis=1).groupby('월별').mean()
df

            기온(°C)   풍속(m/s)   체감기온(°C)
월별
2018.01  -3.941935  1.880645  -6.054839
2018.02  -1.664286  2.185714  -3.800000
2018.03   8.051613  1.922581   7.335484
2018.04  12.950000  1.980000  12.596667
2018.05  18.148387  1.722581  18.090323
2018.06  23.143333  1.680000  23.143333
2018.07  27.764516  1.451613  27.764516
2018.08  28.738710  1.700000  28.738710
2018.09  21.503333  1.550000  21.503333
2018.10  13.090323  1.538710  12.916129
2018.11   7.813333  1.390000   7.436667
2018.12  -0.583871  1.809677  -2.167742

In [5]:
# for i in range(len(df1['일자'])):
#     df1.loc[i, '월별'] = str(df1.loc[i, '일자'])[0:4]+ '.' + str(df1.loc[i, '일자'])[5:7] 

# df1 = df1.groupby('월별').mean()
# %timeit df1

25.9 ns ± 10.5 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)