In [1]:
import pandas as pd

In [2]:
#기온 데이터
df1=pd.read_excel('./data/기온_전체_2010-2019.xlsx')
#순서 역순으로 바꾸기
df1=df1.loc[::-1].reset_index(drop=True)
#평균기온, 평균최고, 평균최저만 남기고 drop
df1.drop(['지역번호','지역명','최고기온관측지점','최저기온관측지점','최고기온(℃)','최저기온(℃)'],axis=1,inplace=True)

#2019년 9월까지 자르기
df1=df1.iloc[96:108]
df1.set_index(['일시'],inplace=True)

In [3]:
df1

            평균기온(℃)  평균최고기온(℃)  평균최저기온(℃)
일시
2018-01-01     -2.0        3.0       -6.4
2018-02-01     -0.2        5.6       -5.7
2018-03-01      8.1       14.3        2.5
2018-04-01     13.3       19.6        7.3
2018-05-01     17.8       23.4       12.7
2018-06-01     22.2       27.8       17.6
2018-07-01     26.8       31.6       22.9
2018-08-01     27.3       32.2       23.3
2018-09-01     20.4       25.3       16.3
2018-10-01     13.0       19.1        7.9
2018-11-01      8.1       14.4        3.0
2018-12-01      1.1        6.3       -3.4